doctype html
html(lang="en-gb")
    head
        meta(charset="utf8")
        title Weather Icon
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        .Example
            .Example__placeholder.js-placeholder

            fieldset.Example__options
                legend.Example__legend Options
                p.Example__option
                    label(for="weather-type").Example__label Weather Type
                    select#weather-type.Example__select.js-weather-types(disabled)
                p.Example__option
                    label(for="weather-time").Example__label Time
                    select#weather-time.Example__select.js-weather-times(disabled)
                p.Example__option
                    label(for="weather-animation").Example__label Disable Animations
                    input#weather-animation.Example__select.js-disable-animation(disabled type="checkbox")

        script(src="/index.js")
        if debug
            script
                | document.write('<script src="//' + (location.hostname || 'localhost').split(':')[0] + ':35729/livereload.js" defer></' + 'script>')
