.Cloud {
  &__path {
    display: block;
    stroke: $off-white;
    
    fill: $white;

    opacity: 0;

    &--medium {
      stroke: $grey;
    }

    &--dark {
      stroke: $dark-grey;
    }

    &--active {
      opacity: 1;
      transition: stroke-dashoffset 3s $ease-in-out-quad;
      animation: weather-bob 5s linear infinite;
    }
  }
}
