.Cloud,
.CloudMask {
  &__path,
  &__mask {
    display: block;
    stroke: $off-white;
    fill: transparent;
    opacity: 0;

    &--medium {
      stroke: $grey;
    }

    &--dark {
      stroke: $dark-grey;
    }

    &--active {
      opacity: 1;
      transition: stroke-dashoffset 1s $ease-in-out-quad;
      animation: weather-bob 5s linear infinite;
    }
  }

  &--no-animation & {
    &__path,
    &__mask {
      transition: none;
      animation: none;
    }
  }
}

.CloudMask {
  &__path {
    fill: $black;
    stroke: $black;
  }
}
