.Drizzle {
  &__drop {
    stroke-opacity: 0;
    stroke: $light-blue;

    &--animate {
      animation: {
        name: weather-rain, weather-fade-in-out;
        duration: 1.5s;
        timing-function: ease-in-out;
        iteration-count: infinite;
      }

      &:nth-child(2) {
        animation-delay: 0.9s;
      }

      &:nth-child(3) {
        animation-delay: 1.8s;
      }
    }

    &--medium {
      stroke: $blue;
    }

    &--heavy {
      stroke: $blue;
      animation-duration: 1.5s;
    }
  }

  &--no-animation & {
    &__drop {
      animation: none;

      transform: translateY(10%);

      &:nth-child(2) {
        transform: translateY(15%);
      }

      &--animate {
        stroke-opacity: 1;
      }
    }
  }
}
