.Fog {
  &__bar {
    fill: $light-grey;
    fill-opacity: 0;
    transition: fill-opacity 0.5s ease-in-out;

    &--animate {
      fill-opacity: 0.5;

      animation: {
        name: weather-fog;
        duration: 5s;
        timing-function: ease-in-out;
        iteration-count: infinite;
      }

      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          animation-delay: 0.5s * $i;
        }
      }
    }
  }

  &:not(&--no-animation) {
    animation: weather-bob 5s linear infinite;
  }

  &--no-animation & {
    &__bar {
      animation: none;
      transition: none;

      &--animate {
        fill-opacity: 0.7;
      }
    }
  }
}
