@use 'sass:math';

.Hail {
  transform: translateY(5%);

  &__drop {
    fill: $off-white;
    fill-opacity: 0;

    &--animate {
      animation: {
        duration: 1s;
        timing-function: ease-in;
        iteration-count: infinite;
      }

      &:nth-child(1),
      &:nth-child(4) {
        animation: {
          name: weather-hail-left, weather-fade-in-out;
        }
      }

      &:nth-child(2) {
        animation: {
          name: weather-hail-middle, weather-fade-in-out;
        }
      }

      &:nth-child(5) {
        animation: {
          name: weather-hail-middle-2, weather-fade-in-out;
        }
      }

      &:nth-child(3),
      &:nth-child(6) {
        animation: {
          name: weather-hail-right, weather-fade-in-out;
        }
      }

      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          animation-delay: 1s * (math.div(1, 6) * $i - math.div(1, 6));
        }
      }
    }
  }

  &--no-animation & {
    &__drop {
      &--animate {
        animation: none;
        fill-opacity: 1;
      }

      &:nth-child(odd) {
        transform: translate(1%, 0);
      }

      &:nth-child(even) {
        transform: translate(-1%, 10%);
      }
    }
  }
}
