$sun-small-scale: 0.75;

.Sun,
.SunMask {
  &__circle {
    fill: transparent;
    transition: transform 0.5s $ease-out-quart;
    transform: scale(0);
    transform-origin: 50% 50%;
    stroke: $yellow;

    &--active {
      transform: scale(1);
    }
  }

  &--small {
    transform: scale($sun-small-scale) translate(15%, -20%);
    transform-origin: 50% 50%;
  }

  &--small & {
    &__circle {
      stroke-width: $stroke-width * (1 + (1 - $sun-small-scale));
    }
  }
}

.Sun {
  $c: &;

  &__rays {
    transform-origin: 50%;

    &--animate {
      animation: weather-rotate 120s linear infinite;
    }
  }

  &__ray {
    transition: transform 0.5s $ease-out-quart;
    transform: scale(0);
    transform-origin: 50% 50%;
    stroke: $yellow;

    &--active {
      transform: scale(1);
    }
  }

  @for $i from 1 through 8 {
    &__ray--#{$i}#{$c}__ray--animate {
      animation: weather-ray#{$i} 5s infinite;
    }
  }

  &__night {
    transform-origin: 50%;
    fill: $light-grey;
    opacity: 0;
    transition: opacity 0.5s $ease-out-quart;
    animation: weather-rock 5s infinite;

    &--animate {
      opacity: 1;
    }
  }

  &--night#{$c}--small {
    transform: scale($sun-small-scale) translate(20%, -25%);
  }

  &--small & {
    &__ray {
      stroke-width: $stroke-width * (1 + (1 - $sun-small-scale));
    }
  }
}

.SunMask {
  &__circle {
    fill: $black;
    stroke: $black;
  }
}
