.WeatherIcon {
  &__path {
    display: none;
    stroke-width: $stroke-width;
    stroke-linecap: round;
    stroke-linejoin: round;

    &--active {
      display: block;
    }
  }

  &__lightning {
    transform-origin: 50% 50%;
    fill: $yellow;
    opacity: 0;

    &--animate {
      animation: weather-lightning 2s linear infinite;
    }
  }
}
